* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1024px) {
  .main-layout {
    flex-direction: column;
  }
  
  .favorites-sidebar {
    margin-top: 40px;
    position: static !important;
  }
}